.titulo {
  height: 60px;
  font-size: 40px;
  padding-top: 0px;
  color: #000;
  text-align: center;

  background-color: rgba(82, 80, 80, 0.575);
}

.buttons {
  width: 220px;
  height: 65px;
  border-radius: 12px;
  background: #367ce6ee;
  border: none;
  color: #fff;
  font-size: 25px;
}

.buttons:hover{
  background: #fff;
  color: #367ce6ee;
  border: 2px solid #367ce6ee;
}

.box{
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: rgba(255, 255, 255, 0);
  padding: 15px 14px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  border: 1px solid #fff;
}

.searchbox {
 width: 220px;
 border-radius: 12px ;
}